.heading {
width: 100%;
color: gold;
font-size: 80px;
margin: 0px;
}

.mainhead {
    background-color: red;
}

.textheading {
    width: 100%;
    height: 100px;
    background-color: red;
}

.gryffins {
    float: right;
    height: 230px;
    width: 260px;
    margin-top: -67px;
    margin-right: -35px;
     
}

.gryffins2 {
    float: left;
    height: 230px;
    width: 260px;
    margin-top: -67px;
    margin-left: -35px;
     
}

.mainbody {
    background-image: url("../../assets/images/WallpaperCastle.jpeg");
    width: 100%;
    height:700px;
    margin-top: -33px;
}

.questions {
    height: 700px;
    width: 1005px;
    background-color: rgb(219, 31, 25);
    opacity: .9;
    margin-top: 0px;
}

.foot {
    width: 100%;
    height: 50px;
    background-color: red;
    color: goldenrod;
    font-size: 30px;
}


